# 下列四項請設在 Netlify，不要提交到 GitHub。
APPS_SCRIPT_URL=https://script.google.com/macros/s/REPLACE_WITH_DEPLOYMENT_ID/exec
GAS_PUBLIC_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
GAS_ADMIN_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
SESSION_SECRET=REPLACE_WITH_A_DIFFERENT_32_CHARACTER_SECRET
